<div class="flex flex-wrap justify-center mb-5">
    <div class="w-full overflow-hidden xl:w-9/12 bg-white rounded-lg rounded-bl-none rounded-t-none rounded-br-none rounded-tr-none bg-white">
        <div class="px-2 mb-4 text-left">
            <h3 id="channels" class="pt-4 mb-2 text-2xl text-center">{{ __('Channels') }}</h3>
            <p class="px-4 text-sm text-gray-700">{{ __('Join the channels where community discusses most interesting topics and news of the year.') }}</p>
        </div>

        <div class="flex flex-wrap justify-center">
            {% for channel in channels %}
            <div class="rounded overflow-hidden shadow-lg xl:w-3/12">
                <p class="px-6 text-gray-700 font-semibold text-2xl">{{ channel.channel }}</p>
                <div class="px-6 py-4">
                    <p class="text-gray-700 text-base">
                        {{ __(channel.description) }}
                    </p>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>
    <div class="w-full overflow-hidden xl:w-3/12 bg-white rounded-lg rounded-t-none rounded-bl-none rounded-tr-none rounded-br-none bg-white" style="background-image: url('/images/bg-3.png'); background-position: center; background-size: cover"></div>
</div>

<div class="flex flex-wrap justify-center mb-5">
    <div class="w-full overflow-hidden xl:w-3/12 bg-white rounded-lg rounded-tl-none rounded-tr-none rounded-bl-none rounded-br-none bg-white" style="background-image: url('/images/bg-2.png'); background-position: center"></div>
    <div class="w-full overflow-hidden xl:w-9/12 bg-white rounded-lg rounded-tr-none rounded-tl-none rounded-bl-none bg-white">
        <div class="px-4 mb-4 text-left">
            <h3 id="business" class="pt-4 mb-2 text-2xl text-center">{{ __('Business community') }}</h3>
            <p class="px-2 text-sm text-gray-700">{{ __('There are people in <strong>#business</strong> channel who could help you with your fresh idea and point you to the right direction. They passed almost all levels of German bureaucracy and could give you a free, non-binding advice.') }}</p>
        </div>

        <div class="flex flex-wrap justify-center">
            <div class="rounded overflow-hidden shadow-lg xl:w-2/6">
                <a href="https://www.honest-rare.de/" target="_blank">
                    <img class="px-6 grayscale" style="height: 28px" src="/images/projects-set/handr.svg" alt="{{ __('HONEST & RARE') }}">
                </a>
                <div class="px-6 py-4">
                    <p class="text-gray-700 text-base">
                        {{ __('Order craft beverages online. Craft beer, gin, whiskey, rum, grain, coffee, espresso, wine, sodas. Buy over 600 products directly from the manufacturer.') }}
                    </p>
                </div>
            </div>
            <div class="rounded overflow-hidden shadow-lg xl:w-2/6">
                <a href="https://hilfy.de/" target="_blank">
                    <img class="px-6 grayscale" src="/images/projects-set/hilfy.png" alt="{{ __('Hilfy') }}" style="height: 20px; margin-bottom: 8px">
                </a>
                <div class="px-6 py-4">
                    <p class="text-gray-700 text-base">{{ __('Offers a one-stop solution where customers can immediately receive a quote, place an repair-order and track the status of it.') }}
                    </p>
                </div>
            </div>
            <div class="rounded overflow-hidden shadow-lg xl:w-2/6">
                <a href="https://salest.io/" target="_blank">
                    <img class="px-6 grayscale" src="/images/projects-set/salestio.png" alt="{{ __('Salestio') }}" style="height: 28px !important;">
                </a>
                <div class="px-6 py-4">
                    <p class="text-gray-700 text-base">{{ __('High-end sales dashboard that helps grow your business and revenue by exporting your products to global marketplace.') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>