{% extends '../_layouts/base.twig' %}

{% block title %}{{ __('%s — Whistleblower', env('COMMUNITY_NAME')) }}{% endblock %}

{% block body %}
    <div class="container mx-auto overflow-y-auto mt-10 mb-5">
        <form method="POST" action="/whistleblower/admin/{{ object.id }}" id="whistleblower-form">
            <div class="flex flex-wrap justify-center mb-5">
                <div class="w-full overflow-hidden xl:w-3/5 bg-white rounded-lg rounded-tr-none rounded-br-none">
                    <div class="px-8 mb-4 text-left">
                        <div class="mb-4 text-left">
                            <h3 class="pt-4 mb-2 text-2xl text-center">{{ __('Submission publish') }}</h3>
                            <p class="mb-4 text-sm text-gray-700">
                                {{ __('Please read it carefully and remove all PII before publishing.') }}
                            </p>
                        </div>
                        <div class="flex flex-wrap overflow-hidden">
                            <div class="w-full overflow-hidden w-full lg:pr-5 pb-5">
                                <label class="block mb-1" for="form-text">{{ __('Text') }}</label>
                                <textarea style="height: 350px" rows="10" required name="text" class="w-full h-10 px-3 text-base placeholder-gray-600{% if isFailedText %} border border-red-700{% endif%} rounded-lg border" id="form-text">{{ object.json|e }}</textarea>
                                {% if isFailedText %}
                                    <span class="text-xs text-red-700">{{ __(messageText) }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full overflow-hidden xl:w-2/5 bg-white rounded-lg rounded-tl-none rounded-bl-none">
                    <div class="px-8 mb-4 text-left lg:mt-20">
                        <div class="flex flex-wrap overflow-hidden">
                            <div class="w-full overflow-hidden lg:w-1/2 xl:w-1/2 pr-5">
                                <label class="block mt-4">
                                    <span class="text-gray-700">{{ __('Type') }}</span>
                                    <select name="type" class="form-select mt-1 block w-full" required>
                                        <option value="">{{ __('Select a type...') }}</option>
                                        <option value="0">{{ __('Question') }}</option>
                                        <option value="1">{{ __('Leak') }}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="w-full overflow-hidden lg:w-1/2 xl:w-1/2 pr-5">
                                <label class="block mt-4">
                                    <span class="text-gray-700">{{ __('Trust') }}</span>
                                    <select name="trust" class="form-select mt-1 block w-full">
                                        <option value="0">{{ __('Unverified') }}</option>
                                        <option value="1">{{ __('Trusted') }}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="w-full overflow-hidden lg:w-1/2 xl:w-1/2 pr-5">
                                <label class="block mt-4">
                                    <span class="text-gray-700">{{ __('Status') }}</span>
                                    <select name="status" class="form-select mt-1 block w-full">
                                        <option value="-1">{{ __('Declined') }}</option>
                                        <option value="0">{{ __('On Review') }}</option>
                                        <option value="1">{{ __('Published') }}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="w-full overflow-hidden lg:w-1/2 xl:w-1/2 lg:pr-5">
                                <button type="submit" style="margin-top: 43px;" class="w-full h-10 px-5 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">{{ __('Save') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
